/* Styles */
img {
    height: 25%;
    width: 25%;
}

table {
    text-align: center;
}

td{
    width: 33%;
    height:100%;
}

div{
    border-top: 5px solid red;
}

#welcome {
    margin-top: 10%;
    border-bottom: 5px solid red;
}
#div1{
    background-color: antiquewhite;
    width: 50%;
    height: 100%;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#div2{
    border-top: 5px solid blue;
    padding-top: 5%;
    font-family: 'Courier New', Courier, monospace;
}

#div3{
    background-color: aqua;
    width: 50%;
    height: 100%;
    float:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    width: 40%;
    border-radius: 5px;
}

#Start{
    width: 15%;
    border-radius: 5px;
    margin: 5%;
    border: 2px solid green;
}
#welcome img{
    width: 10%;
    height: 10%;
}

#game{
    visibility: hidden;
}

#btn1{
    border: 2px solid green;
    
}
#btn2{
    border: 2px solid red;
     
}